---
import { getImageMeta, getPhotoFilenames } from '../utils/photos';

interface Props {
	folder: string;
	slug: string;
}

const { folder, slug } = Astro.props;
const filenames = getPhotoFilenames();
const photos = await Promise.all(filenames.map((filename) => getImageMeta(folder, filename)));
---

<section class="photo-grid-section" aria-label="Trip photos">
	<div class="photo-grid gallery" id={`gallery-${slug}`}>
		{
			photos.map((photo) => (
				<a
					class="photo-grid__item"
					href={photo.src}
					data-pswp-width={photo.width}
					data-pswp-height={photo.height}
				>
					<img
						src={photo.thumbSrc}
						width={photo.thumbWidth}
						height={photo.thumbHeight}
						alt=""
						loading="lazy"
						decoding="async"
					/>
				</a>
			))
		}
	</div>
</section>
